html {
    margin: 55px 40px 100px 40px;
    font-family: "Roboto", sans-serif;
}
.header {
    display: grid;
    grid-template-columns: 15% 85%;
}
h1 {
    font-size: 70px;
    font-weight: 300;
}
.line{
    height: 2px;
    box-shadow: 0 5px 2px 0px rgba(0, 0, 0, 0.25);
    margin-top: -20px;
}
.navlist {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 50px;
    margin-bottom: 40px;
}
.navitem {
    display: flex;
    flex-direction: row;
    color: rgb(80, 80, 80);
    margin-left: 80px;
}
.box {
    position: relative;
    width: 1255px;
    height: 500px;
    border: 1px rgb(175, 175, 175) solid;
    overflow: hidden;
}
.dogpic {
    position: absolute;
    display: block;
    z-index: 1;
    width: 100%;
    height: auto;
}
.box-desc {
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: white;
    color: rgb(175, 175, 175);
    padding-left: 1em;
    bottom: 0px;
    font-size: 20px;
}
.news {
    position: relative;
    color: rgba(0, 0, 0, 0.65);
}
.news-more {
    float: right;
}
.newslist {
    padding-left: 0;
}
.news-list {
    list-style: none;
    line-height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.games {
    padding-top: 1em;
}
.scores-table {
    width: 100%;
}
.scores-table th,.scores-table td {
    padding: 1em;
}
th{
    color: rgba(0, 0, 0, 0.25);
    text-align: center;
}
.winner {
    font-weight: bold;
}
.scores-table td:nth-child(3) {
    text-align: right;
}

.scores-table td:nth-child(2),
.scores-table td:nth-child(5) {
    text-align: center;
}
.weather {
    margin-top: 50px;
}
.weather h2 {
    font-weight: 300;
}
.weather p {
    font-weight: bold;
}
.forecast {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.forecast h2 {
    font-weight: 300;
    font-size: 50px;
}
.forecast h3{
    font-weight: 300;
    font-size: 35px;
}

.days{
    margin-left: 50px;
}
.daylist {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.days-list {
    list-style-type: none;
}
.weather-pics {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.weather-list {
    width: 175px;
    height: 175px;
}
.temp {
    margin-left: 50px;
}
.templist {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.temp-list {
    list-style-type: none;
}
.latest-news{
    margin-top: 50px;
}
.news-title {
    font-weight: 300;
    color: #666;
}
.latest-news ul{
    padding-left: 0;
}
.snippet{
    margin: 24px 0;
    list-style-type: none;
}
.thumbnail{
    width: 100px;
    float: left;
    margin-right: 1em;
}
.snippet-title {
    font-weight: bold;
    color: rgba(0,0,0,0.5);
}
.snippet p{
    color: rgba(0,0,0,0.5);
}
footer {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    padding: 1em;
    width: 100%;
}
footer ul{
    display: flex;
    justify-content: flex-start; 
}
footer li {
    list-style-type: none;
    margin-right: 4em;
    color: #333;
}
@media (max-width: 420px) {
    html {
        margin: 0;
        overflow-y: -webkit-paged-y;
    }
    body {
        margin: 0;
    }
    .header {
        display: grid;
        grid-template-columns: 15% 60% 25%;
    }
    .header img {
        width: 80%;
    }
    h1 {
        font-weight: 400;
        font-size: 20px;
    }
    .menu-icon {
        display: grid;
        grid-template-rows: 30% 30% 30%;
        padding-left: 60px;
        padding-top: 10px;
    }
    .menu {
        width: 40px;
        height: 5px;
        background-color: rgba(0, 0, 0, 0.25);
    }
    .line {
        height: 0px;
    }
    nav {
        display: none;
    }
    .box {
        width: 100%;
        height: 220px;
        margin-top: 20px;
    }
    .dogpic {
        max-width: 100%;
    }
    .box-desc {
        width: 100%;
        height: 40%;
        color: white;
        background-color: rgba(0,0,0,0.5);
        font-size: 10px;
    }
    .news{
        padding-left: 10px;
        padding-right: 10px;
    }
    .news-more{
        margin-right: 25px;
    }
    .news-list {
        font-size: small;
        line-height: 30px;
        padding: 5px 0 5px;
    }
    .scores-table{
        border-collapse: collapse;
    }
    .scores-table tr:nth-child(odd) td {
        background-color: rgb(255,255,255);
    }
    
    .scores-table tr:nth-child(even) td {
        background-color: rgb(236,239,241);
    }
    .scores-table th, .scores-table td {
        font-size: smaller;
    }
    .scores-table th{
        background-color: rgb(120, 144, 156);
        margin: 0;
    }
    .weather {
        margin-top: 0px;
        padding-left: 5px;
    }
    .days {
        margin-left: 0px;
    }
    .weather-list {
        width: 80px;
        height: 80px;
    }
    .temp {
        margin-left: 0px;
    }
    .latest-news {
        margin-top: 0;
        padding-left: 5px;
        padding-right: 10px;
    }
    .snippet-title{
        font-size: medium;
    }
    .snippet p{
        font-size: small;
    }
    footer li{
        font-size: small;
    }
}